<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>Experimental Recommender</title>
        <!-- <style>
            body {
                background-image: url("/static/img/background.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
            }

            div.inner.cover img {
                width: 150px;
            }
        </style> -->
    </head>

    <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
              <h1 class="cover-heading">Recommender Systems</h1>
            <p class="lead">Experimentation Platform
            <p class="lead">
            <a href="/login" class="btn btn-lg btn-default">Enter</a>
            </p>

          </div>

          <b>Nabeel Tariq</b>
          <div class="">

          </div>
          <b>MSBA 2018</b>
          <div class="">

          </div>
          <b>Emory University - Goizueta Business School</b>
        </div>

      </div>

    </div>

    </body>
</html>
