{% extends 'base.html' %}
{% block body %}


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4><strong>User Details</strong></h4>
        Name: {{user.first_name}} {{user.last_name}}<br>
        email: {{user.email}}<br>
        Number of Ratings: {{ratings|length}}<br>
    </h5>
  </div>



<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4><strong>Item List</strong></h4></div>

<ul class="pagination">

  <li><a href="/view_user/{{user.id}}/{{back}}">&laquo;</a></li>

    {% for page in range(1, (pages+2)) %}
  <li><a href="/view_user/{{user.id}}/{{page}}">{{page}}</a></li>


      {% endfor %}

  <li><a href="/view_user/{{user.id}}/{{forward}}">&raquo;</a></li>
</ul>
<table class="table">

<tr><th>Item Id</th><th>Item Title</th><th>Rating</th></tr>
<!-- <th>Release Date</th> -->
  {% for r in ratings %}

<tr><td>{{r.item_id}}</td><td><a href="/view_item/{{r.item_id}}">{{r.item.title}}</a></td><td>{{r.rating}}</td>

<!-- </td><td>{{ r.rating }}</td></tr> -->

  {% endfor %}

</table>
</div>

{% endblock %}
